h1 {
    font-weight: bold;
    text-align: center;
    color: #FF6070;
    font-size: 2.5rem;
}

.header-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    background-color: #FF6070;
    text-align: center;
    transition: all 0.1s ease-in-out;
    padding: 0.66em 1em;
    display: inline-block;
    margin-left: 2rem;
    white-space: nowrap;
    letter-spacing: 0.1em;
}

.header-button:hover {
    transform: scale(1.1);
}

header {
    background-color: #222;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #FF6070;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    z-index: 1000;
}

#logged-in {
    display: none;
}

.login-box,
.sign-in-box,
.overlay {
    display: none;
    z-index: 1000;
}

.login-box, .sign-in-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
}

.sign-in-box {
    width: 40%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info {
    display: none;
    position: fixed;
    top: 10%;
    right: 1%;
    width: 200px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 2px;

}

.image-wrapper-profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-info-section {
    border-bottom: 1px solid #F2F2F2;
    padding: 18px 10px;
}

.profile-info-buttons {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.profile-info-text:hover {
    color: gray;
}

.profile-info-text {
    padding-top: 3px;
    padding-left: 10px;
    color: black;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.form-separator {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.error {
    color: red;
    font-size: 0.875rem;
}
.success {
    color: green;
    font-size: 0.875rem;
}

#submit-login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
    font-size: 1rem;
    font-family: 'Russo One', sans-serif;
}

#submit-signin-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
    font-size: 1rem;
    opacity: 0.6; /* Initially disabled */
    pointer-events: none; /* Initially disabled */
    font-family: 'Russo One', sans-serif;
}
#submit-signin-button.enabled {
    opacity: 1; /* Enabled */
    pointer-events: auto; /* Enabled */
}
#submit-signin-button:hover {
    background-color: #0056b3;
}

#close-login, #close-sing-in {
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
    font-size: 1rem;
    font-family: 'Russo One', sans-serif;
}

#close-login:hover, #close-sing-in:hover {
    background-color: #c82333;
    color: white;
}

#log-out-button {
    color: red;
}

#log-out-button:hover {
    color: #c82333;
}