* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    text-decoration: none;
    list-style: none;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Russo One', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#game-container {
    display: grid;
    gap: 2px;
}

.row {
    display: flex;
}

#state {
    cursor: pointer;
}

.cell.revealed {
    background-color: white;
    cursor: default;
}

.cell.exploded {
    background-color: red;
    cursor: default;
}

.cell.flagged {
    background-color: #ccc;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #999;
}
