* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    text-decoration: none;
    list-style: none;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Russo One', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

table {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
}

th, td {
    padding: 1.2rem;
    width: 25%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff;
}

th {
    padding: 1.5rem 0;
    background: #FF6070;
}

tr:nth-child(even) {
    background: #222;
}

tr:hover {
    background: #FF8A98;
}
